@import "tailwindcss";
body{
  background-color: #FFFAE4;
}
.recoleta-bold {
  font-family: "RecoletaAlt", serif;
  font-weight: 700;
}
.nunito{
  font-family: "Nunito", sans-serif;
}
.marquee {
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

